/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/Layouts/toastAndWait.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.toastAndWait_fullSWait__aTWjY {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100svw;
  z-index: 1;
  height: 100svh;
  display: flex;
  background-color: rgb(0 0 0 / 49%);

  @keyframes toastAndWait_background__cgaQN {
    0% {
      background-color: rgb(0 0 0 / 70%);
    }

    100% {
      background-color: rgb(0 0 0 / 25%);
    }
  }
}

.toastAndWait_progressBar__a97V6 {
  margin: auto;
}

.toastAndWait_progressBar__a97V6 > p {
  grid-column: 1/-1;
  border-top: 7px solid deepskyblue;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 15px auto 0px auto;
  animation: toastAndWait_spin__d4erG 1s linear infinite;
}

@keyframes toastAndWait_spin__d4erG {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.toastAndWait_UserAlert__dQaYj {
  display: flex;
  width: 100svw;
  position: fixed;
  top: max(-5vh, -50px);
  z-index: 3;
  right: 0px;
}
.toastAndWait_sos__N6UPe {
  background-color: black;
  min-height: 70px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  animation: toastAndWait_UserAlert__dQaYj 2s ease infinite;
  transition: transform 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(15svh);
  min-width: max(25svw, 280px);
  border-radius: 10px;
  padding: 6px 5px;
  background-color: white;
}
.toastAndWait_sos__N6UPe span {
  font-size: large;
}
.toastAndWait_sos__N6UPe p {
  color: black;
  font-size: 15px;
}
@keyframes toastAndWait_UserAlert__dQaYj {
  0% {
    transform: translateY(5svh);
  }
  70% {
    transform: translateY(25svh);
  }

  100% {
    transform: translateY(max(-5vh, -50px));
  }
}

@media screen and (max-width: 480px) {
  .toastAndWait_sos__N6UPe {
    width: 95%;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/user/sign-up/signUp.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.signUp_section__WO4CB {
  background: linear-gradient(to right bottom, black, #566a7a);
  min-height: 100vh;
  --one: max(1px, 0.1vh);
  --hundred: max(100px, 10vh);
  --fifteen: max(15px, 1.5vh);
  --twenty: max(20px, 2.1vh);
  --seventy: max(70px, 8svh);
  padding-top: var(--seventy);
  padding-bottom: var(--seventy);
}

.signUp_container__tThVv {
  color: white;
  display: flex;
  max-width: max(500px, 52vh);
  width: 95%;
  margin: 0px auto 0px auto;
  border-radius: 1rem;
  background: linear-gradient(to top left, black, #202020, #434d53);
  box-shadow: inset var(--one) var(--one) 5px -1px white;
  flex-direction: column;
}

.signUp_container__tThVv > h1 {
  font-size: var(--twenty);
  margin: 1em 0px 0.7em 0.7em;
}

.signUp_container__tThVv > form {
  display: flex;
  margin: 0.6em;
  row-gap: 0.4em;
  flex-direction: column;
}

.signUp_container__tThVv > form label {
  margin-top: 1em;
  font-size: var(--fifteen);
}

.signUp_container__tThVv > form input {
  padding-left: 0.5em;
  border-radius: 1em;
  height: max(25px, 2.6svh);
  font-size: var(--fifteen);
  background-color: #a0aaad;
  transition: background-color 400ms ease-in-out;
}

.signUp_container__tThVv > form input:focus {
  background-color: gray;
}

.signUp_container__tThVv > form input::placeholder {
  font-size: 0.8em;
  padding-left: 0.5em;
}

.signUp_container__tThVv > form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.signUp_email__25tnd,
.signUp_personalInfo___UEI5 {
  position: relative;
}

.signUp_personalInfo___UEI5 {
  margin-top: 10px;
  justify-content: flex-start !important;
}

.signUp_email__25tnd input {
  width: 100%;
}

.signUp_email__25tnd label {
  margin-bottom: 0.3em;
}

.signUp_email__25tnd span {
  right: 5px;
  bottom: 1px;

  color: black;
  position: absolute;
}

.signUp_personalInfo___UEI5 p {
  font-size: var(--fifteen);
  display: flex;
  margin-top: 1rem;
  margin-right: 30%;
}

.signUp_personalInfo___UEI5 label {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.signUp_personalInfo___UEI5 label input {
  margin-left: 10px;
}

.signUp_personalInfo___UEI5 > input {
  margin-left: auto;
}

.signUp_personalInfo___UEI5 > input[type="date"] {
  border-radius: 5px;
  width: 135px;
  margin-top: 1rem;
}

.signUp_personalInfo___UEI5 > input[type="date"]:focus {
  background-color: white;
}

.signUp_personalInfo___UEI5 > span {
  position: absolute;
  background-color: white;
  right: 25px;
  bottom: 2px;
  height: 48%;
  display: inline-block;
  width: 100px;
  color: black;
  text-align: center;
}

.signUp_container__tThVv > form > .signUp_stateContainer__IVrm3 > label {
  width: 45%;
  margin-bottom: 0.3em;
  margin-top: 2em;
}

.signUp_container__tThVv > form > .signUp_stateContainer__IVrm3 > input {
  width: 45%;
}

.signUp_container__tThVv > form > .signUp_stateContainer__IVrm3 > select {
  width: 45%;
  padding-left: 0.5em;
  border-radius: 0.5em;
  height: max(25px, 2.6vh);
  font-size: var(--fifteen);
  transition: background-color 400ms ease-in-out;
  background-color: #a0aaad;
}

.signUp_container__tThVv > form > button {
  margin: 15px auto var(--twenty) auto;
  width: 30%;
  height: max(40px, 4vh);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--fifteen);
  border: none;
  border-radius: 0.5em;
}

.signUp_container__tThVv > form > button:hover {
  scale: 1.1;
}

.signUp_firstStep__aFFg7 {
  flex-direction: column;
}

.signUp_container__tThVv .signUp_firstStep__aFFg7 > button {
  background: linear-gradient(to right top, #d2e5ff, #64cfdd);
}

.signUp_container__tThVv .signUp_firstStep__aFFg7 > p {
  margin-bottom: 1.3em;
  font-size: var(--fifteen);
}

.signUp_container__tThVv .signUp_firstStep__aFFg7 > p a {
  color: #74d3ff;
}

.signUp_checkMail__ZBV6U {
  height: 50px;
  border-bottom: 1px solid;
}

.signUp_checkMail__ZBV6U p:nth-child(2)::before {
  color: red;
  content: "\25BA";
  display: block;
  animation: signUp_moveArrow___g5qm alternate infinite 2s;
}
.signUp_verifyLabel__fEOPd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signUp_verifyLabel__fEOPd input {
  width: 100px;
}
.signUp_skeleton__JY2VU {
  width: 45%;
  animation: signUp_skeleton__JY2VU 300ms infinite alternate;
  height: max(25px, 2.6vh);
  border-radius: 0.4em;
}
.signUp_password__xRhvJ {
  border: 2px solid;
  background-color: white !important;
  outline: none !important;
}
.signUp_container__tThVv input[type="password"]:focus {
  background-color: white;
}
@media screen and (min-width: 481px) {
  .signUp_email__25tnd span {
    font-size: large;
  }
}

@media screen and (max-width: 480px) {
  .signUp_section__WO4CB {
    background: black;
  }
  .signUp_container__tThVv {
    width: 98%;
  }

  .signUp_secondStep__KuKD9 {
    .signUp_identity__Q3E1c {
      font-size: medium;
    }

    .signUp_resend__RCW0i {
      font-size: small;
    }
  }

  .signUp_secondStep__KuKD9 > p:nth-child(1) {
    font-size: medium;
  }
}

@keyframes signUp_moveArrow___g5qm {
  to {
    translate: -300%;
  }

  from {
    translate: 80%;
  }
}
@keyframes signUp_skeleton__JY2VU {
  to {
    background-color: white;
  }

  from {
    background-color: slategray;
  }
}

