.section {
  background-color: black;
  display: flex;
  color: white;
  padding-top: max(6vh, 45px) !important;
}
.mainDiv {
  box-shadow: inset 0px 0px 2px 0px white;
  width: max(30svw, 450px);
  border-radius: 10px;
  margin: 5px auto;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.mainDiv div a {
  color: white;
  box-shadow: inset 0px 0px 2px 1px;
  height: 20px;
  width: 70px;
  font-size: small;
  text-align: center;
  border-radius: 3px;
}
.mainDiv > a {
  margin-top: 20px;
  margin-right: auto;
  padding: 5px 10px;
  color: white;
  box-shadow: inset 0px 0px 4px 0px white;
  border-radius: 5px;
  font-size: 15px;
  height: fit-content;
}

.mainDiv > button {
  font-size: 15px;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 50px;
  margin: 20px auto 0px auto;
  color: white;
  box-shadow: inset 0px 0px 4px 0px white;
}
.mainDiv h3 {
  box-shadow: inset 0px 0px 4px 0px white;
  justify-content: space-between;
  display: flex;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}
.mainDiv h3 a {
  margin: auto 10px auto auto;
}
.loading {
  font-size: x-large;
  padding-top: 30svh;
  padding-bottom: 50svh;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .mainDiv {
    box-shadow: none;
  }
}
