#single {
  row-gap: 5px;
  box-shadow: 0 0 5px 0px black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 0px auto 10px auto;
  .ratingReviews {
    display: flex;
    font-size: 90%;
    font-weight: 600;

    .rating {
      display: flex;
      position: relative;
      color: gold;
    }
  }

  .name {
    color: grey;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .imgCover {
    display: flex;
  }

  .imgCover > p {
    margin: auto;
    height: 90%;
    width: 80%;
    background-color: #e5e5e5;
    text-align: center;
  }
  .img {
    margin: auto;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
  }

  .priceDiv {
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    height: 24%;
  }

  .charges {
    display: flex;
    width: 100%;
  }

  .charges span {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  .charges span:last-child {
    margin-left: auto;
  }

  .currentPrice {
    font-weight: 700;
  }

  .currentPrice span {
    color: gray;
  }

  .mrp {
    font-size: 14px;
    margin: auto 0px auto 5%;
  }

  .mrp span {
    text-decoration: line-through;
  }

  .discount {
    margin: auto 0px auto auto;
    background-color: #c4eeff;
    border-radius: 5%;
    padding-left: 1%;
    font-weight: bold;
    font-size: small;
    padding-right: 1%;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .priceSame {
      overflow-x: hidden;
      font-size: 12px;
      background: linear-gradient(
        to left,
        transparent,
        rgb(109, 193, 109) 160%
      );
    }

    .priceSame span {
      font-weight: bold;
      color: green;
    }
  }
}

.options p {
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 7%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 26%;
  white-space: nowrap;
  font-size: 13px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 1%;
  background: linear-gradient(to right, transparent, rgb(181 181 181) 166%);
}

.options p::-webkit-scrollbar {
  display: none;
}

.mobile {
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  height: 200px;
  width: 90%;
  min-width: 290px;
  max-width: 350px;
  display: grid;
  grid-template-columns: 38% 60%;
  grid-template-rows: 10% 20% 25% 45%;

  .ratingReviews {
    grid-column: 1/-1;
    align-items: center;
    height: 100%;

    .review {
      margin-left: auto;
    }
    .rating {
      margin-left: 20px;
      font-size: 15px;
    }
  }
  .name {
    grid-column: 1/-1;
    font-size: 14px;
    height: 100%;
  }
  .imgCover {
    grid-row: 3/-1;
    height: 90%;
    grid-column: 1/2;
  }
  .priceDiv {
    grid-row: 3/4;
    .discount {
      top: 0px;
      left: 0px;
      position: absolute;
    }
  }
  .charges {
    font-size: 90%;
  }
  .currentPrice {
    font-size: large;
  }
  .mrp {
    font-size: small;
  }
  .options {
    height: 85%;
  }
}
/* Desktop design */
.desktop {
  transition: scale 300ms ease-in-out;
  padding: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 250px !important;
  .ratingReviews {
    height: 6%;
    .rating {
      margin-left: auto;
    }
  }
  .name {
    font-size: 13px;
    height: 14%;
  }
  .imgCover {
    height: 35%;
  }
  .charges {
    font-size: 14px;
  }
  .currentPrice {
    font-size: larger;
  }
  .mrp {
    font-size: 14px;
  }
  .options {
    height: 21%;
  }
}
