.mainDiv {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-bottom: 20px;
}
.mainDiv > p {
  font-weight: bold;
}

.payments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.payments > p {
  margin-right: auto;
}
.payments > button {
  min-width: fit-content;
  padding: 5px;
  font-size: small;
  background-color: #252525;
  color: white;
  border-radius: 5px;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
}

.everyProduct {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 15px;
}

.everyProduct > button {
  min-width: 15px;
  min-height: 15px;
  border-radius: 2px;
}

.variantInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin: 15px 5px;
  /* box-shadow: inset 0px 0px 2px 0px white; */
  padding: 5px;
  border-radius: 5px;
}
.variantInfo > p {
  background: linear-gradient(to right, #3d3d3d, transparent);
  border-radius: 5px;
  padding-left: 5px;
  width: 100%;
}
.variantInfo > p span {
  color: deeppink;
  margin-left: 5px;
  margin-right: 5px;
}

#discounts > div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 5px;
  border-radius: 5px;

  min-width: 200px;
}
#discounts .closeBtn {
  height: 15px;
  width: 15px;
  right: 0px;
}
#discounts label {
  display: flex;
  column-gap: 20px;
}
#discounts input {
  margin-left: auto;
  width: 50px;
  border-radius: 5px;
}
#discounts div div {
  display: flex;
  position: relative;
  height: 15px;
}
.manageDiscount {
  display: flex;
  align-items: center;
  font-size: small;
  box-shadow: 1px 1px 3px 0px white;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.manageDiscount label {
  display: flex;
  column-gap: 5px;
}
.manageDiscount input {
  width: 50px;
  border-radius: 5px;
}
.manageDiscount button {
  margin-left: auto;
  padding: 3px 5px;
  font-weight: 600;
  font-size: small;
  border-radius: 5px;
  background-color: #f0f034;
}
.variantUpdate {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 15px;
  overflow-x: auto;
  font-size: small;
  padding-bottom: 10px;

  .variantColor {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    min-width: 180px;
    max-width: 180px;
    height: 220px;
    gap: 10px;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    align-items: center;

    .img {
      max-height: 55%;
      max-width: 98%;
      height: fit-content;
      width: fit-content;
      margin: 30px auto auto auto;
      border-radius: 5px;
    }

    .colorName {
      position: absolute;
      font-size: 100%;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

    .prices > label {
      display: flex;
      justify-content: space-between;
    }

    .prices > label > input {
      text-align: center;
      width: 35%;
      border-radius: 5px;
    }
  }
  .variantColor > button {
    width: fit-content;
    padding: 0.5% 8%;
    margin: auto auto 10px auto;
    border-radius: 5px;
    scrollbar-width: 10px;
  }
}
.variantUpdate::-webkit-scrollbar {
  background-color: gray;
  height: 5px;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .one {
    rotate: 55deg;
  }

  .two {
    rotate: -55deg;
  }
}
.closeBtn > span {
  position: absolute;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  animation: closeBtn alternate infinite 4s;
}

.stockManage {
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;

  .colorName {
    background: linear-gradient(to right, #3d3d3d, transparent);
    border-radius: 5px;
    padding-left: 5px;
  }
  .colorName span {
    color: rgb(12, 255, 12);
    margin-left: 10px;
  }

  .updateStockBtn {
    height: 25px;
    margin-top: auto;
  }
}
.stockManage > div:nth-child(2) {
  display: flex;
  overflow-x: auto;
  column-gap: 10px;
}
.stockManage > div:nth-child(2)::-webkit-scrollbar {
  background-color: gray;
  height: 5px;
}

.state {
  width: 200px;
  height: 100px;
  margin-bottom: 15px;
  min-width: 200px;
  border-radius: 5px;
  background-color: #252525;
  overflow-y: auto;

  .stateName {
    font-size: 15px;
  }

  .district {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-size: small;
    align-items: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    .stock {
      margin-left: auto;
      width: 50px;
      border-radius: 5px;
      border: none;
      padding-left: 5px;
    }
  }
  .closeBtn {
    height: 20px;
    width: 20px;
    position: relative;
  }
}
.state div:first-child {
  position: sticky;
  top: 2px;
  display: flex;
  margin-bottom: 10px;
  background-color: black;
  margin-top: 3px;
  padding: 2px 5px;
  scrollbar-width: none;
  z-index: 1;
}

.state::-webkit-scrollbar {
  display: none;
}

.state div:first-child .closeBtn {
  margin-left: auto;
}
.selectState,
.selectDistrict {
  background-color: black;
  border: none;
  color: white;
}

.newStoreStock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 3px 0px white;
  height: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  justify-content: space-between;
  width: 100%;
}

.newStoreStock input {
  text-align: center;
  width: 50px;
  border-radius: 5px;
}

.newStoreStock select {
  width: 45%;
  padding: 2px;
  scrollbar-width: none;
}
.newStoreStock select::-webkit-scrollbar {
  display: none;
}

.newStoreStock > button {
  padding: 3px 5px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #f0f034;
}

.stockManage > button {
  background-color: transparent;
  color: white;
  margin: auto;
  box-shadow: inset 0px 0px 3px 0px white;
  padding: 2px 5px;
  border-radius: 5px;
}
.createdVariants {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.createdVariants span {
  min-width: 70px;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
}
@media only screen and (max-width: 480px) {
  .mainDiv {
    padding: 5px;
  }
  .everyProduct {
    align-items: end;
  }

  .variantInfo {
    margin: 15px 0px;
  }

  .variantInfo > p span {
    font-size: small;
  }

  .variantUpdate {
    scrollbar-width: none;
  }

  .variantUpdate::-webkit-scrollbar {
    display: none;
  }
  .stockManage {
    font-size: small;
    height: fit-content;
  }
  .stockManage > div:nth-child(2)::-webkit-scrollbar {
    display: none;
  }
}

@keyframes closeBtn {
  0% {
    box-shadow: inset 0px 0px red;
  }

  100% {
    box-shadow: inset 30px 1px red;
  }
}
