.section {
  background: linear-gradient(to right bottom, black, #566a7a);
  min-height: 100vh;
  --one: max(1px, 0.1vh);
  --hundred: max(100px, 10vh);
  --fifteen: max(15px, 1.5vh);
  --twenty: max(20px, 2.1vh);
  padding-top: var(--twenty);
  color: white;
}

.form {
  row-gap: 0.4em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: 10svh auto 0px auto;
  border-radius: 1rem;
  background: linear-gradient(to top left, black, #202020, #434d53);
  box-shadow: inset var(--one) var(--one) 5px -1px white;
  flex-direction: column;
  animation: fromAnimation infinite 1s alternate ease-in-out;
}

@keyframes fromAnimation {
  from {
    transform: translateY(3px);
  }

  to {
    transform: translateY(-3px);
  }
}

.form>h1 {
  font-size: var(--twenty);
  margin: .5em 0px 0.5em 0.7em;
}


.form>label {
  display: flex;
  margin-top: 1em;
  font-size: var(--fifteen);
}

.form>input {
  padding-left: 0.5em;
  border-radius: 1em;
  height: max(30px, 2.6vh);
  transition: background-color 400ms ease-in-out;
}

.form input:focus {
  background-color: #cee9f8;
}

.form>.login {
  background: linear-gradient(to left bottom, #a9b8f3, green);
  margin: auto auto auto auto;
  width: 30%;
  height: max(40px, 4vh);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--fifteen);
  border: none;
  border-radius: 0.5em;
}

.form>.login:hover {
  scale: 1.1;
}

.form .forgotPassword {
  margin-left: auto;
  cursor: pointer;
  width: fit-content;
  color: #74d3ff;
  animation: forgotPasswordButton infinite 6s alternate ease-in-out;
}

.form a {
  color: #74d3ff;
}

.form>a {
  margin-left: auto;
}

@keyframes forgotPasswordButton {
  from {
    transform: translateX(0%);
    opacity: 5;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}


@media screen and (max-width: 480px) {

  .form {
    /* margin-top: 5svh; */
    width: 98%;
    height: 400px;
  }

  .form>h1 {
    font-size: large;
  }

  .form>p {
    font-size: small;
  }

  .form>a {
    font-size: small;
  }

  .forgotPassword {
    font-size: small;
  }

}