.section {
  background-color: black;
}

.mainContainer h1 {
  font-size: large;
  font-weight: 600;
  grid-column: 1/-1;
}

.mainContainer {
  max-width: 500px;
  height: 320px;
  border: 1px solid;
  margin: 70px auto 0vh auto;
  box-shadow: inset 1px 1px 3px 0px white;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  background: linear-gradient(to left, black, white, white);
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px 50px 50px 50px 50px;
  position: relative;

  .imgCover {
    position: absolute;
    top: 50px;
    left: 5px;
  }
  .imgCover img {
    width: fit-content;
    height: fit-content;
    max-width: 165px;
    max-height: 200px;
    border-radius: 5px;
  }

  .rating {
    margin-left: auto;
    height: fit-content;
    grid-column: 3/-1;
  }
  .rating input {
    display: none;
  }
  .rating label {
    float: right;
    color: #aaa;
  }
  .rating label:before {
    content: "\2605";
    font-size: 25px;
  }

  .commentLabel {
    font-size: large;
    grid-column: 3/-1;
    padding-top: 20px;
  }
  .commentInput {
    grid-column: 3/-1;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    grid-row: 4/6;
    max-width: 300px;
    min-width: 50%;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
  }
  .commentInput::placeholder {
    color: white;
    font-size: small;
    padding: 5px;
    line-height: 18px;
  }
  .submitBtn {
    border: none;
    color: black;
    box-shadow: inset 0px 0px 20px 0px #807c7c;
    grid-column: 1/-1;
    height: 30px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    margin: auto auto 0px auto;
    transition: box-shadow 500ms ease;
    cursor: pointer;
  }
  .wait {
    grid-column: 1/-1;
    border-top: 3px solid #66a8fa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 0.5s linear infinite;
    margin: 15px auto 0px auto;
  }
}

.mainContainer .rating input:checked ~ label,
.mainContainer .rating input:checked ~ label ~ label {
  color: #e7b315;
}

.mainContainer .submitBtn:hover {
  box-shadow: inset 100px 0px 0px 0px rgb(47, 149, 104);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-width: 95%;
    height: fit-content;
    min-height: 60svh;
    box-shadow: inset 1px 1px 3px 0px white;
    background: linear-gradient(to top, black, white, white);

    .imgCover {
      position: unset;
    }
    .imgCover img {
      max-width: 300px;
      margin: 10px auto 15px auto;
    }
    .wait {
      margin-top: 0px;
    }
    .rating label:before {
      font-size: larger;
    }
    .commentLabel {
      padding-top: 0px;
      font-size: medium;
      margin-left: 20%;
    }
    .commentInput {
      max-width: 80%;
      margin-left: auto;
      margin-bottom: 20px;
    }
    .submitBtn {
      background: transparent;
      color: white;
    }
  }
}
