/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/loading.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.loading_circle__T32j5 {
  transform: translateZ(1px);
  width: 100%;
  display: flex;
}
.loading_circle__T32j5 > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 20vh auto auto auto;
  border-radius: 50%;
  background: skyblue;
  animation: loading_circle__T32j5 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes loading_circle__T32j5 {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 1800deg;

    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

